.collar-band {
    position: relative;
    width: 320px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--red);
    border: 3px solid black;
}

.collar-cutout {
    position: absolute;
    top: 12px;
    left: 50%;
    width: 310px;
    height: 50px;
    transform: translateX(-50%);
    border-radius: 100%;
    background-color: var(--skin);
    z-index: 1;
}

.collar-bell {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--collar-tag);
    border: 3px solid black;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.bell-middle {
    width: 20px;
    height: 20px;
    border: 3px solid var(--black);
    background-color: var(--black);
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
}

.bell-middle::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 35px;
    border-top: 3px solid var(--black);
    background-color: var(--black);
}