.eyes {
    display: flex;
    justify-content: center;
    width: 200px;
    position: relative;
}

.eye {
    min-height: 100px;
    min-width: 90px;
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 20px 0;
}

.eye.left-eye {
    transform: rotate(-10deg);
    margin-right: -10px;
}

.eye.right-eye {
    transform: rotate(10deg);
    margin-right: 10px;
}

.eye-ball {
    background-color: var(--black);
    border-radius: 100%;
    height: 20px;
    width: 20px;
}
