.body {
    width: 400px;
    height: 370px;
    background-color: var(--skin);
    border: 3px solid var(--black);
    border-radius: 110px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transform: translateY(-40px);
    z-index: -1;
}

.collar-belly-container {
    position: relative;
    transform: translateY(-10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}