.head {
    background-color: var(--skin);
    border-radius: 100%;
    width: 400px;
    height: 380px;
    border: 3px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content !important;
}

.bottom {
    background-color: white;
}