.head {
    background-color: var(--skin);
    border-radius: 100%;
    width: 400px;
    height: 370px;
    border: 3px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    position: relative;
    z-index: -2;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content !important;
}

.bottom {
    background-color: white;
    border-radius: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -3px;
    border: 3px solid var(--black);
    z-index: -1;
    display: flex;
    justify-content: center;
}