.nose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-40px);
}

.nose {
    background-color: var(--red);
    border: 3px solid var(--black);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 5px 0;
}

.nose-highlight {
    background: radial-gradient(circle, var(--white) 10%, var(--red) 100%);
    border-radius: 100%;
    height: 10px;
    width: 10px;
}

.nose-stick {
    background-color: var(--black);
    height: 175px;
    width: 3px;
    position: absolute;
    top: 40px;
}