.belly {
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border-radius: 100%;
    border: 3px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    transform: translateY(-45px);
    z-index: 3;
}

.inner-belly {
    width: 200px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid var(--black);
    border-radius: 0px 0px 100px 100px;
}